[Desktop Entry]
Comment[en_US]=minimalist tiling window manager
Comment=minimalist tiling window manager
Exec=jotawm-session
GenericName[en_US]=window manager
GenericName=window manager
MimeType=
Name[en_US]=jotawm
Name=jotawm
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
